* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #faf9fc;
}
.center {
  width: 100%;
}

.wp20 {
  float: left;
  width: 100%;
}
/*Header escuro*/

.sidebar {
  width: 20%;
  background-color: #2d3035;
  height: 100vh;
  max-width: 300px;
}

.logo {
  background-color: #26282d;
  width: 100%;
  height: 90px;
  cursor: pointer;
}

.logo h1 {
  text-align: center;
  color: white;
  padding-top: 25px;
}

.sidebar-inf {
  width: 200px;
  display: block;
  margin: 85px auto;
}
.sidebar-inf li span {
  padding-left: 10px;
}
.sidebar-inf a {
  color: rgba(255, 255, 255, 0.616);
  text-decoration: none;
}

.sidebar-inf ul li {
  list-style: none;
  margin-bottom: 55px;
}

.sidebar-inf li a:hover {
  color: white;
}
.sidebar-inf li:hover {
  color: white;
}

/*Header claro*/
.menu {
  width: 100%;
  max-width: 100%;

}
.menu p {
  width: 30px;
}
